[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:yas375/emacs-config.git
[submodule "Xcode-Snippets"]
	path = Xcode-Snippets
	url = https://github.com/yas375/Xcode-Snippets.git
[submodule "chisel"]
	path = chisel
	url = git@github.com:facebook/chisel.git
